.title {
    text-align: center;
}

.secondtitle {
    text-align: center;
}

.form-group {
    text-align: center;
}

.or {
    text-align: center;
}

.container {
    text-align: center;
}

.user {
    text-align: center;
}