<h1 class="title">Welcome</h1>
<h2 class="secondtitle">Doesn't have an account yet?</h2>

<form action="/login">
    <div class="form-group">
        <input class="btn btn-success my-3" type="submit" value="Login">
    </div>
</form>

<p class="or">OR</p>

<form action="/signup">
    <div class="form-group">
        <input class="btn btn-success my-3" type="submit" value="Sign Up">
    </div>
</form>

<section class="first">
        <h1>Enter Product</h1>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="text" class="form-control" placeholder="Price" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-text">.00</span>
          </div>
          
          
          <label for="basic-url" class="form-label">Image URL</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
          
          
          <div class="input-group">
            <span class="input-group-text">With textarea</span>
            <textarea class="form-control" aria-label="With textarea"></textarea>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button">Send</button>
          </div>
    </section>

    <section class="second">
        <h2>My First Chat App</h2>
        <form onsubmit="addMessage(this)">
            <input type="email" id="username" id="date" placeholder="e-mail">
            <input type="text" id="texto" placeholder="Enter your messagee">
            <input type="submit" value="Send">
        </form>
    </section>

    <div class="third" id="messages"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>